<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="openx.AbstractInterceptor" abstract="true"
		class="com.talkyun.openx.server.core.AbstractInterceptor">
		<property name="matchPattern">
			<list>
				<value>*.*</value>
			</list>
		</property>
	</bean>

	<bean class="com.talkyun.openx.RestfulScanner">
		<property name="interceptor">
			<list>
				<bean class="com.talkyun.openx.interceptor.PerformanceInterceptor" parent="openx.AbstractInterceptor">
					<property name="threshold" value="999" />
				</bean>
				<!-- 日志中心 -->
				<bean class="next.fire.log.client.TraceInterceptor" parent="openx.AbstractInterceptor" />
			</list>
		</property>
		<!-- 扫描路径 -->
		<property name="path" value="com.yifeng.demo.boss.api.*.service.*" />
	</bean>

</beans>