<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd

                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- real conf file
	<context:property-placeholder location="classpath*:conf/yifeng.channel.properties" /> -->


	<!-- orm -->
	<bean id="channel.DataSource" class="com.alibaba.druid.pool.DruidDataSource"
		  init-method="init" destroy-method="close">
		<property name="url" value="$X{jdbc.url}" />
		<property name="username" value="$X{jdbc.user}" />
		<property name="password" value="$X{jdbc.password}" />
		<property name="driverClassName" value="$X{jdbc.driver}" />

		<!-- druid property -->
		<property name="maxActive" value="20" />
		<property name="initialSize" value="5" />
		<property name="maxWait" value="60000" />
		<property name="minIdle" value="1" />
		<property name="timeBetweenEvictionRunsMillis" value="3000" />
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<property name="validationQuery" value="SELECT 'x' FROM DUAL" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />

		<!-- log sql -->
		<property name="proxyFilters">
			<list>
				<bean class="com.alibaba.druid.filter.logging.Log4jFilter">
					<property name="connectionConnectAfterLogEnabled" value="false"/>
					<property name="statementCreateAfterLogEnabled" value="false"/>
					<property name="statementExecutableSqlLogEnable" value="true"/>
					<property name="connectionConnectBeforeLogEnabled" value="false"/>
					<property name="resultSetLogEnabled" value="false"/>
					<property name="connectionLogEnabled" value="false"/>
					<property name="statementParameterSetLogEnabled" value="false"/>
				</bean>
			</list>
		</property>

	</bean>

	<bean id="channel.SqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="channel.DataSource" />
		<property name="mapperLocations">
			<list>
				<value>classpath*:com/yifeng/ecp/channel/dal/dao/*.xml</value>
			</list>
		</property>
	</bean>

	<bean id="channel.TransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="channel.DataSource" />
	</bean>

	<tx:annotation-driven transaction-manager="channel.TransactionManager" />
</beans>