<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd

                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="project.DataSource" class="com.alibaba.druid.pool.DruidDataSource"
		init-method="init" destroy-method="close">
		<property name="url" value="$X{jdbc.url}" />
		<property name="username" value="$X{jdbc.user}" />
		<property name="password" value="$X{jdbc.password}" />
		<property name="driverClassName" value="$X{jdbc.driver}" />

		<!-- druid property -->
		<property name="maxActive" value="20" />
		<property name="initialSize" value="5" />
		<property name="maxWait" value="60000" />
		<property name="minIdle" value="1" />
		<property name="timeBetweenEvictionRunsMillis" value="3000" />
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<property name="validationQuery" value="SELECT 'x' FROM DUAL" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />
	</bean>

	<bean id="project.SqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="project.DataSource" />
		<!-- check mybatis resultMap or resultType -->
		<property name="failFast" value="true"/>
		<property name="configLocation" value="classpath:spring/mybatis-configuration.xml" />
		<!-- 避免填写继承自BaseEntity类的包名-->
		<property name="typeAliasesPackage" value="com.yifeng.demo.dal.entity"/>
		<property name="mapperLocations">
			<list>
				<value>classpath*:com/yifeng/demo/boss/dal/**/dao/*.xml</value>
			</list>
		</property>

		<property name="plugins">
			<list>
				<bean class="com.github.pagehelper.PageInterceptor">
					<property name="properties">
						<props>
							<prop key="helperDialect">mysql</prop>
							<prop key="reasonable">true</prop>
						</props>
					</property>
				</bean>
			</list>
		</property>

	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- registered mapper interface -->
		<property name="basePackage" value="com/yifeng/demo/boss/dal/**/dao" />
		<property name="sqlSessionFactoryBeanName" value="project.SqlSessionFactory" />
	</bean>

	<bean id="project.TransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="project.DataSource" />
	</bean>

	<tx:annotation-driven transaction-manager="project.TransactionManager" />
</beans>